/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26 nov. 2015, 22:28:57
    Author     : francoiscaillet
*/

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

.row label{
    margin-top: 15px;
}

.row input{
    margin-bottom: 15px;
}

.key {
    width:55px;
    height:25px;
    border:0px solid black;
    border-radius:10px;
    margin-right: 20px;
    right: 0px;
    position: absolute;
    margin-top: -48px;
}

.led-input{
    margin: 10px;
    padding: 10px;
}

.button-player{1
    position: relative;
    background-color: transparent !important;
    display:table-cell;
    width:75px;
    height:75px;
    border:1px solid black;
    vertical-align:middle;
    text-align:center;
    border-radius:50px; 
    -moz-box-shadow: 2px 2px 5px -2px #656565;
    -webkit-box-shadow: 2px 2px 5px -2px #656565;
    -o-box-shadow: 2px 2px 5px -2px #656565;
    box-shadow: 2px 2px 5px -2px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);  

}

.effect {
    border:0px solid black;
    border-radius:50px;
    display:inline-block;
    background-color: transparent !important;
    width:0px;
    height:0px; 
}

.clicked .effect{
    
        animation-name: border-effect;
        animation-duration: 0.2s;
}

@keyframes border-effect {
0% {
    width: 0px;
    height: 0px;
    
}
1% {
    border-width: 20px;
}
    100% {width: 74px;
    height:74px;
    border-width: 0px;}
}

.led-player{
    position: relative;
    display:table-cell;
    width:75px;
    height:75px;
    outline:1px solid black ;
    vertical-align:middle;
    text-align:center; 
    background-color: transparent;
    -moz-box-shadow: 2px 2px 5px -2px #656565;
    -webkit-box-shadow: 2px 2px 5px -2px #656565;
    -o-box-shadow: 2px 2px 5px -2px #656565;
    box-shadow: 2px 2px 5px -2px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);  

}

.led{
    border:0px solid black;
    display:inline-block;
    width:0px;
    height:0px; 
}

.lighting .background{
    
        animation-name: led-effect;
        animation-fill-mode: forwards;
        animation-duration: 0.1s;
}

@keyframes led-effect {
0% {
    width: 0px;
    height: 0px;
    
}
1% {;
}
    100% {width: 75px;
    height:75px;}
}



.player-1{
    border-color: red;
    outline-color:red;
}

.player-2{
    border-color: black;
    outline-color:black;
}

.player-3{
    border-color: green;
    outline-color:green;
}

.player-4{
    border-color: orange;
    outline-color:orange;
}

.player-5{
    border-color: purple;
    outline-color:purple;
}

.player-6{
    border-color: blue;
    outline-color:blue;
}

.background.player-1, .player-1 .key{
    background-color: red;
}

.background.player-2, .player-2 .key{
    background-color: black;
}

.background.player-3, .player-3 .key{
    background-color: green;
}

.background.player-4, .player-4 .key{
    background-color: orange;
}

.background.player-5, .player-5 .key{
    background-color: purple;
}

.background.player-6, .player-6 .key{
    background-color: blue;
}

.led-input.background.player-1{
    background-color: rgba(255, 0, 0, 0.06);;
}

.led-input.background.player-2{
    background-color: rgba(0, 0, 0, 0.06);;
}

.led-input.background.player-3{
    background-color: rgba(0, 255, 0, 0.06);;
}

.led-input.background.player-4{
    background-color: rgba(255, 165, 0, 0.06);
}

.led-input.background.player-5{
    background-color: rgba(165, 0, 255, 0.06);
}

.led-input.background.player-6{
    background-color: rgba(0, 0, 255, 0.06);;
}

.glow{
     -webkit-animation: glowing 0.5s ease; /* Chrome, Safari, Opera */
    animation: example 0.5s ease;
}
@keyframes glowing {
    0%{
        border-color: green;
    -webkit-box-shadow: 0 0 0px green;
       -moz-box-shadow: 0 0 0px green;
            box-shadow: 0 0 0px green;
    }
    50%{
        order-color: green;
    -webkit-box-shadow: 0 0 5px green;
       -moz-box-shadow: 0 0 5px green;
            box-shadow: 0 0 5px green;
    }
    100%{
    border-color: green;
        -webkit-box-shadow: 0 0 0px green;
           -moz-box-shadow: 0 0 0px green;
                box-shadow: 0 0 0px green;
    }
    
}